.mypage-edit-wrapper {
  width: 60%;
  min-width: 600px;
  height: 550px;
  border: 1px solid #aacdff;
  box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 20px 40px;
  margin-bottom: 40px;
}

.mypage-edit-error-message {
  margin-top: 5px;
  color: red;
  font-size: 12px;
  padding-left: 10px;
  margin-right: 180px;
}

.mypage-edit-success-message {
  margin-top: 5px;
  color: blue;
  font-size: 12px;
  padding-left: 10px;
  margin-right: 180px;
}

.mypage-edit-form {
  width: 100%;
  height: 100%;
}

.mypage-edit-error {
  color: red;
  height: 10px;
  font-size: 11px;
}

.mypage-edit-inputbox {
  width: 100%;
  margin-top: 20px;
}

.mypage-edit-input-label {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.mypage-edit-input-label-sns {
  width: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
}

.mypage-edit-input[type="email"],
.mypage-edit-input[type="text"],
.mypage-edit-input[type="password"] {
  width: 80%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  transition: border-bottom-color 0.3s ease, box-shadow 0.3s ease;
}

.mypage-edit-input-read[type="email"],
.mypage-edit-input-read[type="text"],
.mypage-edit-input-read[type="password"] {
  width: 80%;
  padding: 10px;
  border: none;
  outline: none;
}

.mypage-edit-input[type="email"]:focus,
.mypage-edit-input[type="text"]:focus,
.mypage-edit-input[type="password"]:focus {
  border-bottom: 1px solid #aacdff;
  box-shadow: 0 2px 5px -1px rgba(170, 205, 255, 0.5);
}

.mypage-edit-input[type="email"],
.mypage-edit-input[type="password"]::placeholder {
  color: #797979;
  font-size: 16px;
}

.mypage-edit-submit-btn:disabled {
  background-color: #ccc;
  border: none;
}

.bottom-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
