.search-container {
  display: flex;
  justify-content: center;
  margin: 12px;
}

.search-bar {
  width: 100%; /* 원하는 너비로 조정 */
  padding: 8px 16px 8px 16px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50px; /* 라운드 디자인 */
}

.search-input {
  width: 200px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-button {
  display: flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
  color: black;
  border: none;
}

.search-button:hover {
  color: #ccc;
}
